body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: rgb(26, 33, 34);
  color: rgb(234, 235, 235);
}
.window {
  height: 100%;
  padding: 1rem;
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.btn-positive {
  cursor: pointer;
  background: none;
  padding: 0.5rem;
  border-color: rgb(228, 100, 37);
  color: rgb(228, 100, 37);
  font-size: 20px;
  letter-spacing: 2px;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group textarea {
  background: rgb(119, 123, 123);
}
.form-group label {
  padding-right: 1rem;
  color: rgb(234, 235, 235);
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 14px;
  pointer-events: none;
}

.tab-group {
  width: 100%;
  display: flex;
  border: none;
}

.tab-item {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  border: none;
  color: rgb(234, 235, 235);
  background: rgb(36, 44, 46);
  transition: transform 0.5s;
}

.tab-item .img-circle {
  margin-right: 1rem;
  color: rgb(234, 235, 235);
}

.tab-item.active {
  background: rgb(228, 100, 37);
  color: rgb(36, 44, 46);

  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.6),
    inset -4px -4px 6px -1px rgba(119, 123, 123, 0.7),
    -0.5px -0.5px 0px rgba(119, 123, 123, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.graf {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 33, 34);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
